<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div th:insert="fragments/userAccountBlock"></div>
    <div class="element-block">
        <p> Пользователь: <a th:text="${user.getUsername()}"></a></p>
        <p> Комментариев: <a th:text="${user.getCommentsList().size()}"></a></p>
        <p><a class="link-text-without-decoration" sec:authorize ="hasAuthority('ADMIN')" th:href="@{/users/{username}/comments(username=${user.getUsername()})}">Все комментарии пользователя</a></p>
        <p><a class="link-text-without-decoration" sec:authorize ="hasAuthority('ADMIN')" th:href="@{/users/{username}/edit(username=${user.getUsername()})}"> Редактировать</a></p>
        <form sec:authorize ="hasAuthority('ADMIN')" th:method="DELETE" th:action="@{/users/{username}(username=${user.getUsername()})}">
            <input type="submit" value="Удалить пользователя"/>
        </form>
    </div>
    <div class="element-block">
        <p>Статьи пользователя: </p>
        <div class="inner-block" th:if="${mainElementList.size == 0}">
            <p class="link-text-without-decoration" >Статей нет.</p>
        </div>
        <div class="inner-block" th:each="article : ${mainElementList}">
            <p><a class="link-text-without-decoration" th:href="@{/articles/{articleId}(articleId=${article.getArticleId()})}" th:text="${article.getTitle()}"></a></p>
            <p>Дата: <a th:text="${#dates.format(article.getArticleDate(), 'yyyy.MM.dd HH:mm')}"></a></p>
        </div>
        <div th:if="${availablePagesList != null}">
            <div th:if="${availablePagesList.size() >= 5}" class="pagination">
                <div class="pagination-navigation" th:if="${pageNumber < 4 }" th:each="page : ${#numbers.sequence(1, 5)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}(username=${user.getUsername()}, page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber >= 4 && pageNumber <= availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(pageNumber - 2, pageNumber + 2)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}(username=${user.getUsername()}, page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber > availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(availablePagesList.size() - 4, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}(username=${user.getUsername()}, page=${page})}" th:text="${page}"></a>
                </div>
            </div>
            <div th:if="${availablePagesList.size() < 5}" class="pagination">
                <div class="pagination-navigation" th:each="page : ${#numbers.sequence(1, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}(username=${user.getUsername()}, page=${page})}" th:text="${page}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>