<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div th:insert="fragments/userAccountBlock"></div>
    <form class="element-block" th:action="@{/users/search}">
        <p class="link-text-without-decoration">Поиск пользователей:
            <input type="text" name="search"/>
            <input type="submit" value="Поиск"/>
        </p>
    </form>
    <div class="element-block" th:if="${users.size() > 0}">
        <p class="title-text">Список пользователей:</p>
        <div class="inner-block" th:each="user : ${users}">
            <p><a class="middle-text" th:href="@{/users/{username}(username=${user.getUsername()})}" th:text="${user.getUsername()}"></a></p>
            <p>Статей: <a th:text="${user.getArticleList().size()}"></a></p>
            <p>Комментариев: <a th:text="${user.getCommentsList().size()}"></a></p>
        </div>
    </div>
    <div class="element-block" th:if="${users.size() == 0}">
        <p class="title-text" >Пользователей с таким именем не обнаружено!</p>
    </div>
</div>
</body>
</html>