<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div th:insert="fragments/userAccountBlock"></div>
    <form class="element-block" th:action="@{/users/search}">
        <p class="link-text-without-decoration">Поиск пользователей:
            <input type="text" name="search"/>
            <input type="submit" value="Поиск"/>
        </p>
    </form>
    <div class="element-block" th:if="${mainElementList.size() > 0}">
        <p class="title-text">Список пользователей:</p>
        <div class="inner-block" th:each="user : ${mainElementList}">
            <p><a class="middle-text" th:href="@{/users/{username}(username=${user.getUsername()})}" th:text="${user.getUsername()}"></a></p>
            <p>Статей: <a th:text="${user.getArticleList().size()}"></a></p>
            <p>Комментариев: <a th:text="${user.getCommentsList().size()}"></a></p>
        </div>
    </div>
    <div class="element-block" th:if="${mainElementList.size() == 0}">
        <p class="title-text" >Пользователей с таким именем не обнаружено!</p>
    </div>
    <div th:if="${availablePagesList != null}">
        <div th:if="${#strings.isEmpty(search)}" class="pagination">
            <div th:if="${availablePagesList.size() >= 5}" class="pagination">
                <div class="pagination-navigation" th:if="${pageNumber < 4 }" th:each="page : ${#numbers.sequence(1, 5)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users(page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber >= 4 && pageNumber <= availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(pageNumber - 2, pageNumber + 2)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users(page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber > availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(availablePagesList.size() - 4, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users(page=${page})}" th:text="${page}"></a>
                </div>
            </div>
            <div th:if="${availablePagesList.size() < 5}" class="pagination">
                <div class="pagination-navigation" th:each="page : ${#numbers.sequence(1, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users(page=${page})}" th:text="${page}"></a>
                </div>
            </div>
        </div>
        <div th:unless="${#strings.isEmpty(search)}" class="pagination">
            <div th:if="${availablePagesList.size() >= 5}" class="pagination">
                <div class="pagination-navigation" th:if="${pageNumber < 4 }" th:each="page : ${#numbers.sequence(1, 5)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/search(search=${search}, page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber >= 4 && pageNumber <= availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(pageNumber - 2, pageNumber + 2)}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/search(search=${search}, page=${page})}" th:text="${page}"></a>
                </div>
                <div class="pagination-navigation" th:if="${pageNumber > availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(availablePagesList.size() - 4, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/search(search=${search}, page=${page})}" th:text="${page}"></a>
                </div>
            </div>
            <div th:if="${availablePagesList.size() < 5}" class="pagination">
                <div class="pagination-navigation" th:each="page : ${#numbers.sequence(1, availablePagesList.size())}">
                    <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/search(search=${search}, page=${page})}" th:text="${page}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>