<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div th:insert="fragments/userAccountBlock"></div>
    <div class="element-block">
        <p> Пользователь: <a th:text="${user.getUsername()}"></a></p>
        <p> Комментариев: <a th:text="${user.getCommentsList().size()}"></a></p>
        <p><a sec:authorize ="hasAuthority('ADMIN')" th:href="@{/users/{username}/comments(username=${user.getUsername()})}">Все комментарии пользователя</a></p>
        <p><a sec:authorize ="hasAuthority('ADMIN')" th:href="@{/users/{username}/edit(username=${user.getUsername()})}"> Редактировать</a></p>
        <form sec:authorize ="hasAuthority('ADMIN')" th:method="DELETE" th:action="@{/users/{username}(username=${user.getUsername()})}">
            <input type="submit" value="Удалить пользователя"/>
        </form>
    </div>
    <div class="element-block">
        <p>Статьи пользователя: </p>
        <div class="inner-block" th:if="${mainElementList.size == 0}">
            <p class="link-text-without-decoration" >Статей нет.</p>
        </div>
        <div class="inner-block" th:each="article : ${mainElementList}">
            <p><a class="link-text-without-decoration" th:href="@{/articles/{articleId}(articleId=${article.getArticleId()})}" th:text="${article.getTitle()}"></a></p>
            <p>Дата: <a th:text="${#dates.format(article.getArticleDate(), 'yyyy.MM.dd HH:mm')}"></a></p>
        </div>
        <div class="pagination">
            <div class="pagination-navigation" th:each="availablePage : ${availablePagesList}">
                <a class="pagination-navigation-active-element"
                   th:if="${availablePage != pageNumber}"
                   th:text="${availablePage}"
                   th:href="@{/users/{username}(username=${user.getUsername()}, page=${availablePage})}">
                </a>
                <a class="pagination-navigation-inactive-element"
                   th:unless="${availablePage != pageNumber}"
                   th:text="${availablePage}">
                </a>
            </div>
    </div>
</div>
</body>
</html>