<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все комментарии пользователя</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div th:insert="fragments/userAccountBlock"></div>
    <div class="element-block" th:if="${mainElementList.size() == 0}"><p>Комментариев нет!</p></div>
    <div class="element-block" th:each="comment : ${mainElementList}">
        <p>Статья: <a class="link-text-without-decoration" th:href="@{/articles/{articleId}#comments(articleId=${comment.getArticle().getArticleId()})}"
                     th:text="${comment.getArticle().getTitle()}"></a></p>
        <p>Дата: <a th:text="${#dates.format(comment.getCommentDate(), 'yyyy.MM.dd HH:mm:ss')}"></a></p>
        <p>Комментарий: <a th:text="${comment.getCommentText()}"></a></p>
        <form th:method="DELETE"
              th:action="@{/articles/{articleId}/comments/{commentId}
                      (articleId=${comment.getArticle().getArticleId()},commentId=${comment.getCommentId()})}"
              sec:authorize ="hasAnyAuthority( 'EDITOR', 'ADMIN')">
            <p><input type="submit" value="Удалить комментарий"/></p>
        </form>
    </div>
    <div th:if="${availablePagesList != null}">
        <div th:if="${availablePagesList.size() >= 5}" class="pagination">
            <div class="pagination-navigation" th:if="${pageNumber < 4 }" th:each="page : ${#numbers.sequence(1, 5)}">
                <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}/comments(username=${username}, page=${page})}" th:text="${page}"></a>
            </div>
            <div class="pagination-navigation" th:if="${pageNumber >= 4 && pageNumber <= availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(pageNumber - 2, pageNumber + 2)}">
                <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}/comments(username=${username}, page=${page})}" th:text="${page}"></a>
            </div>
            <div class="pagination-navigation" th:if="${pageNumber > availablePagesList.size() - 2}" th:each="page : ${#numbers.sequence(availablePagesList.size() - 4, availablePagesList.size())}">
                <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}/comments(username=${username}, page=${page})}" th:text="${page}"></a>
            </div>
        </div>
        <div th:if="${availablePagesList.size() < 5}" class="pagination">
            <div class="pagination-navigation" th:each="page : ${#numbers.sequence(1, availablePagesList.size())}">
                <a th:attr="class=${page == pageNumber ? 'pagination-navigation-inactive-element' : 'pagination-navigation-active-element'}" th:href="@{/users/{username}/comments(username=${username}, page=${page})}" th:text="${page}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>