<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сменить секретный вопрос</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="authorization-block" th:action="@{/users/{username}/settings/security_question(username=${#authentication.getName()})}" th:method="POST">
        <p class="error-text" th:if="${message}" th:text="${message}"></p>
        <p>Новый секретный вопрос:</p>
        <p><input type="text" name="newSecurityQuestion"/></p>
        <p>Ответ на секретный вопрос:</p>
        <p><input type="password" name="newSecurityAnswer"/></p>
        <p>Пароль:</p>
        <p><input type="password" name="password"/></p>
        <p><input type="submit" value="Изменить данные"/> </p>
    </form>
</div>
</body>
</html>