<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сменить пароль</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="authorization-block" th:action="@{/users/{username}/settings/password(username=${#authentication.getName()})}" th:method="POST">
        <p class="error-text" th:if="${message}" th:text="${message}"></p>
        <p>Старый пароль:</p>
        <p><input type="password" name="oldPassword"/></p>
        <p>Новый пароль:</p>
        <p><input type="password" name="newPassword"/></p>
        <p><input type="submit" value="Изменить данные"/> </p>
    </form>
</div>
</body>
</html>